@import "tailwindcss";

:root {
  --background-start-rgb: 240, 240, 255;
  --background-end-rgb: 255, 255, 255;
  --foreground-rgb: 20, 20, 20;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-start-rgb: 10, 10, 20;
    --background-end-rgb: 30, 30, 50;
    --foreground-rgb: 240, 240, 240;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@theme {
  --color-background: rgb(var(--background-start-rgb));
  --color-foreground: rgb(var(--foreground-rgb));
}
